%table{width: "100%", style: "text-align: center"}
  %tr
    %th Name
    %th Weight
    %th Plates

  - @user.last_log.next_log.each do |name, weight|
    %tr
      %td= name
      %td= weight
      %td= weight_to_plates(weight)

%center{style: "margin-top: 60px"}
  = link_to "Submit Log", user_log_path(@user.authentication_token, @user.last_log.next_log)